/*导航部分*/
.nav {
    padding: 10px;
}

.nav li {
    float: left;
    width: 33.333%;
}

.nav li a {
    display: block;
}

.nav li a img {
    width: 100%;
}

/*产品区域*/
.product li{
    width: 50%;
    float: left;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px;
}

.product li a {
    display: block;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    padding-bottom: 10px;
}

.product li a img {
    width: 100%;
}

.product li a .title {
    padding: 0 5px;
}

.product li a .price span{
    font-size: 12px;
}
.product li a .price span:first-child {
    color: red;
}

.product li a .price span:last-child {
    text-decoration: line-through;
}


.product li a .price {
    text-align: center;
}

.product li a button {
    background-color: #007aff;
    border: 1px solid #007aff;
    color: #fff;
}