* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}

a:hover,a:visited,a:link,a:active {
    text-decoration: none;
}

.mt150 {
    margin-top: 150px;
}

.container h3 {
    text-align: center;
}

/* 公用左边侧边栏 */
.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    left: 0px;
    transition: all 0.5s;
    z-index: 10;
}

.lt_aside.now {
    left: -180px;
}

/* 品牌区域 */
.lt_aside .brand {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #367fa9;
}

.lt_aside .brand >a {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

/* 用户信息区域 */
.lt_aside .user {
    padding: 30px 20px;
}

.lt_aside .user >img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lt_aside .user >span {
    color: #fff;
    font-size: 12px;
}

/* 导航区域 */

.nav >ul >li {
    line-height: 40px;  
}

.nav >ul >li a {
    display: block;
    height: 40px;    
    padding-left: 30px;
    color: #ddd;
    border: 3px solid transparent;
}

.nav >ul >li a.now {
    border-left-color: #3c8dbc;
    background: #1d1f21;
    color: #fff;
}

.nav >ul >li .child {
    display: none;
}

.nav >ul >li .child.now {
    display: block;
}

.nav >ul >li .child >a {
    display: block;
    padding-left: 60px;
    color: #ddd;
}

/* 右边内容部分 */
.lt_main {
    /* overflow: hidden; */
    padding-left: 180px;
    transition: all 0.5s;
}

.lt_main.now {
    padding-left: 0px;
}

/* 顶部通栏 */
.lt_main .topbar {
    height: 50px;
    background-color: #3c8dbc;
    padding: 0px 15px 0px 200px;
    line-height: 50px;
    position: fixed;
    left: 0;
    width: 100%;
    /* 触发nfc 不要影响到别的盒子 */
    /* overflow: hidden; */
    transition: all 0.5s;
}

.lt_main .topbar.now {
    padding-left: 15px;
}

.lt_main .topbar >a {
    color: #fff;
    font-size: 16px;
}

/* 内容区域 */
.container-fluid {
    padding-top: 45px;
}
.container-fluid .echars_left {
    width: 45%;
    height: 400px;
}
.container-fluid .breadcrumb {
    margin: 20px 0;
}
.container-fluid .echars_right {
    width: 45%;
    height: 400px;
}

/* 添加分类按钮 */
.btn_add {
    margin-bottom: 20px;
}

/* 二级导航  添加分类 模态框 */
.file_box {
    position: relative;
    width: 82px;
    height: 34px;
}


.file_box input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* 模态框下拉菜单 */
.dropdown-menu {
    top: initial;
    left: initial;
}