<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>乐淘商城-搜索</title>
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css" />
    <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/search.css" />
</head>

<body>
    <div class="lt-container">
        <!-- 顶部通栏 -->
        <div class="lt-header">
            <a href="javascript:history.go(-1);" class="header-l">
                <i class="mui-icon mui-icon-arrowleft"></i>
            </a>
            <h4>搜索中心</h4>
        </div>
        <!-- 内容区域-->
        <div class="lt-content">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!-- 菜单具体展示内容 -->
                    <!-- 搜索内容部分 -->
                    <div class="lt-search">
                        <input type="text" placeholder="请输入搜索关键字">
                        <button class="mui-btn-blue btn-search">搜索</button>
                    </div>
                    <!-- 搜索记录部分 -->
                    <div class="lt-history">
                        <!-- 挖个坑 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- 页脚部分 -->
        <div class="lt-footer">
            <ul class="mui-clearfix">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="category.html">
                        <i class="fa fa-bars"></i>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="car.html">
                        <i class="fa fa-shopping-cart"></i>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="fa fa-user"></i>
                        <p>会员中心</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 模版区域 -->
    <script type="text/html" id="Tmp">
        {{if arr.length===0}}
        <p>暂时没有搜索记录</p>
        {{/if}}
        {{if arr.length>0}}
        <p class="mui-clearfix">
            <span class="mui-pull-left">搜索历史</span>
            <span class="mui-pull-right fa fa-trash btn-empty">清空历史记录</span>
        </p>
        {{/if}}
        <ul>
            {{each arr v i}}
            <li class="mui-clearfix">
                <a href="#" class="mui-pull-left">{{v}}</a>
                <span data-index="{{i}}" class="lt-history-delete mui-icon mui-icon-closeempty mui-pull-right"></span>
            </li>
            {{/each}}
        </ul>
    </script>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src="lib/mui/js/mui.min.js"></script>
    <script src="lib/artTemplate/template-web.js"></script>
    <script src="js/common.js"></script>
    <script src="js/search.js"></script>
</body>

</html>